MyGameSite/MyGameSite/Service References/MyGameService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:200/MyGameService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:200/MyGameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:200/MyGameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyGameService_AddGame_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="IMyGameService_AddGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="IMyGameService_GetAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="IMyGameService_GetAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IMyGameService_GetGameByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameByID" />
  </wsdl:message>
  <wsdl:message name="IMyGameService_GetGameByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyGameService">
    <wsdl:operation name="AddGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyGameService/AddGame" message="tns:IMyGameService_AddGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyGameService/AddGameResponse" message="tns:IMyGameService_AddGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyGameService/GetAllGames" message="tns:IMyGameService_GetAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyGameService/GetAllGamesResponse" message="tns:IMyGameService_GetAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyGameService/GetGameByID" message="tns:IMyGameService_GetGameByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyGameService/GetGameByIDResponse" message="tns:IMyGameService_GetGameByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyGameService" type="tns:IMyGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://tempuri.org/IMyGameService/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/IMyGameService/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameByID">
      <soap:operation soapAction="http://tempuri.org/IMyGameService/GetGameByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IMyGameService" binding="tns:BasicHttpBinding_IMyGameService">
      <soap:address location="http://localhost:200/MyGameService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>